<h1>BodyMass</h1>

<h3> Bienvenido <%= current_user.email %> </h3>

<p> IMC: <%= @body_mass.imc %>  </p>
<p> Category: <%= @body_mass.category  %>  </p>

<%= form_for @body_mass do |f| %>
  <p>
    <%= f.label :mass %>(Kg) :
    <%= f.text_field :mass, id: "x" %>
  </p>

  <p>
    <%= f.label :height %>(m) :
    <%= f.text_field :height %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
